// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,
body,
.bg-img {
  height: 100%;
}

body {
  color: #444;
}

.bg-img {
	// background-image: linear-gradient(#fff, transparent);
	background-image: url("tools-workbench.jpg");
  	background-size: cover;
}
header {
	margin-right: 40%;
	
}
h1 {
	display: inline-block;
	float: left;
	margin-left: 15px;
}

h2,
h3,
label,
p,
select
 { 
	margin-top: 15px;
	margin-left: 15px;
}

a:link,
a:visited {
	color: #aaa;
}

a:hover {
	color: #444;
}

.header-n-nav {
	overflow: auto;
	display: fixed;
	background-color: #000;
}

.nav {
	background-color: transparent;
	padding-top: 12px;
	// margin-left: 15%;
	float: right;
}

.nav-li{
	float: left;
}

.user-welcome {
	padding: 10px 15px;
}

.search-form {
	float: right;
	padding: 15px;
  	transition: box-shadow 0.3s, border 0.3s;
}

input[type=submit] {
	background-color: #eee;
	color: #444;
	border: none;
}

.welcome-statement {
	display: block;
	position: absolute;
	top: 200px;
	left: 125px;
	color: white;
	
}

.white-bg {
	background-color: #fff;
}

.margin-auto {
	margin-left: 40%;
}

footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	color: black;
	margin-left: 40%;
}

footer {
	color: #444;
}